{% extends 'website/base.html' %}
{% load static %}

{% block main %}
    <div class="row row-space">
        <div class="col-6">
                
        </div>
        <div class="col-6">
              <p font-color='white'>Essa é a website do BlueParking estacionamento rotativo 24h. </p> 
        </div>
    </div>
    <div class="row row-space">
            <div class="col-4">
                
            </div>
            <div class="col-8">
                    <img src="{% static 'img/emoji1.png' %}" alt="Estacionamento 24 horas">
            </div>
           
        </div>
        <div class="row row-space">
            <div class="col-6">
               
            </div>
            <div class="col-6" >
                
            </div>
        </div>
{% endblock %}