{% extends 'website/base.html' %}
{% load static %}

{% block menu %}
    <div class="row row-space">
        <div class="col-12">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url  'website_servicos' %}">Servicos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url  'website_sobre' %}">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'website_plano' %}">Plano</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="{% url  'website_contato' %}">Contatos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core_home' %}">Sistema</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}


{% block main %}
<div class="row row-space">
    <div class="col-12">
        <H4>PLANOS: </H4>
           PLANO CASUAL: R$ 3,00/hora<br>
           PLANO METAL : 12 a 24h - R$ 2,00/hora<br>
           PLANO PRATA : Acima de 24h - R$ 1,00/hora<br>
           PLANO OURO: Mensalista R$ 100,00 - estacionamento descoberto<br>
           PLANO GOLD: Mensalista R$ 130,00 - estacionamento coberto<br>
    </div>
</div>

<div class="row row-space">
    <div class="col-8">
            <h4>  Vale a pena ou não essa economia?</h4>
        <img src="{% static 'img/meme.jpg' %}" alt="Minha imagem">
    </div>
<div class="row row-space"></div>
    <div class="col-4">                
          <img src="{% static 'img/emoji2.jpg' %}" alt="Minha imagem">
    </div>

       
    </div>
</div>
{% endblock %}