{% extends 'website/base.html' %}
{% load static %}

{% block menu %}
    <div class="row row-space">
        <div class="col-12">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'website_servicos' %}">Servicos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url  'website_sobre' %}">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url  'website_plano' %}">Plano</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="{% url  'website_contato' %}">Contatos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core_home' %}">Sistema</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}


{% block main %}
<div class="row row-space">
    <div class="col-12">
        A BlueParking é uma das mais novas startups do Brasil na gestão e operação de estacionamentos,
        presente no território brasileiro.<br>
        <br>
        Plataformas de atuação –> On-street e Off-street.
    </div>
</div>

<div class="row row-space">
     <div class="col-8">
                    On-street: uso intenso de tecnologia própria que vai de
                    sensores de estacionamentos que detectam automaticamente
                    os veículos até formas de pagamento como compra de créditos via Internet,
                    aplicativos mobiles e reservas de vagas online.

        </div>
</div>

<div class="row row-space">
    <div class="col-6">
                Off-street: gestão de performance financeira do estacionamento,
                passando por campanhas visando atrair o público qualificado para
                o aumento do ticket médio do estacionamento.
           
           </div>
</div>
<div class="row row-space">
    <div class="col-12">
        <img src="{% static 'img/meme2.jpg' %}" alt="Minha imagem">
    </div>
</div>

{% endblock %}