{% extends 'website/base.html' %}
{% load static %}

{% block menu %}
    <div class="row row-space">
        <div class="col-12">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url  'website_servicos' %}">Servicos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'website_sobre' %}">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url  'website_plano' %}">Plano</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="{% url  'website_contato' %}">Contatos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core_home' %}">Sistema</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}


{% block main %}
<div class="row row-space">
    <div class="col-12">
            Somos uma start up de tecnologia que visa automatizar e facilitar o gerenciamento do seu estacionamento.
    </div>
</div>
<div class="row row-space">
        <div class="col-12">
                Nossos segmentos de atuação:<br>
-Aeroportos;<br>
-Hotéis;<br>
-Edifícios coorporativos;<br>
-Shoppings;<br>
-Hospitais.
        </div>
    </div>

<div class="row row-space">
    <div class="col-6">
        <img src="{% static 'img/emoji1.png'' %}" alt="Minha imagem">
    </div>
    <div class="col-6">
        <img src="{% static 'img/emoji.jpg' %}" alt="Minha imagem">
    </div>
</div>
{% endblock %}